*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about{
    width: 100%;

}
.about .banner{
    width: 100%;
    height: 80vh;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    background: url(./AboutImage-3.jpg) no-repeat scroll center / cover;
}
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bannerContent{
    width: 60%;
    position: absolute;
    top:45%;
    z-index: 2; 
     
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.bannerContent h1{
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
}
.bannerContent p{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.bannerContent a{
    font-size: 20px;
    text-decoration: none;
    padding: 9px 25px;
    margin-top: 15px;
    border-radius: 1px;
    color: white;
    background-color: rgb(171, 0, 0);
    /* box-shadow: 0px 0px 12px 2px rgb(161, 11, 11); */
}


.AboutContent2{

    
    display: flex;
    padding: 10px 50px;
    background-color: antiquewhite;
    align-items: center;
    justify-content: space-between;
    /* margin: 50px; */
    padding: 0px 40px;
    /* position: absolute;
    top: 850px;
    right: 0px; */
    width:100%;
    height: 600px;
   
}
.AboutContent2 .left{
    width: 50%;
text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.AboutContent2 .left h2{
    font-size: 50px;
    margin-bottom: 20px;
    color:#333;
}
.AboutContent2 .right {
    width:40%;
    height:90%;
}
.AboutContent2 .right img{
    width: 100%;
    box-shadow: 0px 0px 15px 3px rgb(237, 217, 187);
    border-radius: 15px;
    height: 100%;
}

.AboutContent2 h2 {
    /* position: absolute; */
   /* top: 450px; */
   /* left: px; */

   /* right:1000px; */
   font-size: 40px;

   
}


/* p{
    position: absolute;  
    right:1000px;
    bottom:50px;
    width: 400px;
    margin: 10px;
    font-size: 25px;

} */
.Content2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8d7a75;
    /* margin: 10px; */
    padding:0px  50px;
    /* position: absolute;
    top: 850px;
    right: 0px; */
    width:100%;
    height:600px;
}
.Content2 .left{
    width: 50%;
    height: 100%;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Content2 .left h3{
    font-size: 40px;
    margin-bottom: 20px;
}
.Content2 .right img{
    width: 100%;
    height: 90%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 3px gray;
}
.Content2 .right {
    width: 40%;
    display: flex;
    align-items: center;
    height:100%;
}

@media all and (max-width:930px){
    .bannerContent h1{
        font-size: 40px;
        margin-top: 6px;
    }
    .bannerContent{
        font-size: 16px;
        margin: 0px 5px;
    }
    .bannerContent{
        width: 80%;
    }
}





@media all and (max-width:600px){
    .bannerContent {
        width: 100%;
    }
    .bannerContent a{
        font-size:18px;
        padding: 7px 15px;
    }
}
@media all and (max-width:380px){
    .bannerContent h1{
        font-size: 40px;
        margin-top: 4px;
        
    }
    .bannerContent p{
        font-size: 16px;
        margin-top: 6px;
        font-weight: 300;
        padding-left:10px ;
    }
    .bannerContent a{
        font-size:16px;
        padding: 4px 12px;
    }
}


