/* Banner.css */

.banner {
    position: relative;
    width: 100%;
    max-height: 500px; /* Adjust the desired height */
    overflow: hidden;
  }
  
  .backgroundImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlayContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .overlayContent h1 {
    margin: 15px 0;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;

  }
  
  .overlayContent h1:first-child {
    font-size: 4rem;
    color: black; /* Use your highlight color */
  }
  
  .overlayContent h1:last-child {
    font-size: 2rem;
    opacity: 0.7;
  }
  
  .overlayContent h1:hover {
    color: #d7b80b; /* Change to your desired highlight color */
    transition: color 0.3s ease;
  }
  
  .overlayContent h1:not(:last-child) {
    border-bottom: 2px solid #9BA4B5; /* Use your secondary color for border */
    padding-bottom: 10px;
  }
  
  .overlayContent h1:first-child:before,
  .overlayContent h1:last-child:after {
    content: '';
    display: block;
    height: 4px;
    width: 40px;
    background-color: #e2c20b; /* Use your highlight color */
    margin: 10px auto;
  }
  
  /* Add more custom styles as needed */
  