.register {
    background-color: #906357;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjusted height to 100% viewport height */
  }
  
  .registerContent {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px; /* Adjusted width for better content placement */
  }
  
  .registerContent h1 {
    color: #906357;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .registerform {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
   
  }
  
  label {
    font-weight: bold;
    color: #906357;
   width: 35%;
   margin: 5px;
   padding: 8px 15px;
   /* background-color: black; */
  }
  
.input{
    width: 55%;
    padding: 8px 12px;
    margin:5px;
    border: 1px solid #906357;
    border-radius: 4px;
  }
  
  button{
    background-color: #906357;
    color: #fff;
    border: none;
    text-align: center;
    /* width: 30%; */
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #7a573f; /* Darker shade of #906357 for hover effect */
  }
  h3{
    width: 100%;
    margin: 10px 0px;

  }
  
  h2 {
    margin: 10px 0px;
  }
  
  h2 a {
    text-decoration: none;
    color: #906357;
    font-weight: bold;
  }
  
  h2 a:hover {
    color: #7a573f; /* Darker shade of #906357 for hover effect */
  }
  